<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='grades.css') }}">
<body style="background-image: url('/static/uis5.jpg');">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-wide w3-padding w3-card">
    <a href="/home" class="w3-bar-item w3-button" style= "letter-spacing: 1px;">Proyecto <b>UIS</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small" style= "letter-spacing: 1px;">
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>
    <div class="w3-right w3-hide-small">
      <a href="/grades" class="w3-bar-item w3-button" style= "letter-spacing: 0.9px;">Calculate your grades!</a>
    </div>
  </div>
</div>
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/w3images/architect.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
  </div>
</header>

<div style = >
  <h1 style= "color:white;font-family:'Lato', sans-serif; margin-top: 180px; text-align: center;">PROYECTO DE PROGRAMACION I</h1>
</div>

<!-- Project Section -->
<div class="w3-container w3-padding-32" id="projects">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style= "color:white;font-family:'Lato', sans-serif; text-align: center  ;">Descripcion</h3>

  <p style= "color:white;font-family:Arial;text-align: center;" >Esta es una aplicacion "simple" a la problematica que solemos tener a la hora de calcular nuestras notas, en la universidad nos empezamos a dar cuenta que no todas las notas tienen el mismo porcentaje, desarollamos una pagina web que cuenta con una calculadora con sus respectivos porcentajes para facilitar esta tarea al usuario
  </p>
  <p style= "color:white;font-family:Arial;text-align: center;">Aunque pueda parecer una aplicacion simple, para realizar esta app se necesitaron conocimientos en paquetes, Html, css, flask , programacion orientada a objetos, matplotlib entre otras tecnologias.
  </p>
</div>    

</body>
</html>
